<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.alex"/>


	<import resource="hibernate-config.xml"/>

	<alias name="defaultUserDAO" alias="userDAO"/>
	<bean id="defaultUserDAO" class="com.alex.daos.impl.DefaultUserDAO"/>

	<alias name="defaultUserFacade" alias="userFacade"/>
	<bean id="defaultUserFacade" class="com.alex.facades.impl.DefaultUserFacade">
		<property name="userDAO" ref="userDAO"/>
	</bean>

	<alias name="defaultUserService" alias="userService"/>
	<bean id="defaultUserService" class="com.alex.services.impl.DefaultUserService">
		<property name="userFacade" ref="userFacade"/>
	</bean>

</beans>