<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven/>

	<import resource="hibernate-config.xml"/>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="defaultEncoding" value="utf-8"/>
		<property name="basename" value="messages"/>
	</bean>

	<alias name="defaultUserDAO" alias="userDAO"/>
	<bean id="defaultUserDAO" class="com.alex.daos.impl.DefaultUserDAO"/>

	<alias name="defaultUserService" alias="userService"/>
	<bean id="defaultUserService" class="com.alex.services.impl.DefaultUserService"/>

	<alias name="defaultCarDAO" alias="carDAO"/>
	<bean id="defaultCarDAO" class="com.alex.daos.impl.DefaultCarDAO"/>

	<alias name="defaultCarService" alias="carService"/>
	<bean id="defaultCarService" class="com.alex.services.impl.DefaultCarService"/>
</beans>